html, body {
	background-color: #272b30;
}

.stage {
	margin: 20px auto;
	width: 420px;
	max-width: 95%;
}

button {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
}

button.is--active {
	border-bottom: 3px solid #fff;
}

button.rain {
	background: #607d8b;
	color: #fff;
}

button.rainstorm {
	background: #3f51b5;
	color: #fff;
}


button.thunderstorm {
	background: #ff5722;
	color: #fff;
}

button.water {
	background: #2196f3;
	color: #fff;
}